@{
	const string SiteTitle = "Lone Henchman";

	var bareTitle = GetTitle();
	var title = bareTitle;

	if (string.IsNullOrWhiteSpace(bareTitle))
		title = bareTitle = SiteTitle;
	else
		title += " - " + SiteTitle;

	var isPost = InnermostBody.IsPost();
	var blurbText = (await InnermostBody.GetBlurbText()).NullIfEmpty();

	var features = Site.GetPageFeatures(await GetBodyDom());

	var date = DateTime.Now;
	var mdPath = "";

	if (InnermostBody is MarkdownPage mdPage)
		mdPath = mdPage.ContentRelativePath.TrimLeadingSlash();

	if (isPost)
		date = ((PostFrontMatter)InnermostBody.FrontMatter).Date;
}

<!DOCTYPE html>

<head>
	<meta charset="utf-8" />

	<meta property="og:type" content="@(isPost ? "article" : "website")">
	<meta property="og:url" content="@this.GetCanonicalUrl()">
	<meta property="og:title" content="@bareTitle">
	@if (!string.IsNullOrWhiteSpace(blurbText))
	{
		<meta property="og:description" content="@blurbText">
	}

	@* ToDo: get better og images *@
	<meta property="og:image" content="@Site.RootUri/assets/img/ogimg-512x256.webp">
	<meta property="og:image:width" content="512"/>
	<meta property="og:image:height" content="256"/>

	<meta property="og:image" content="@Site.RootUri/assets/img/ogimg-256x256.webp">
	<meta property="og:image:width" content="256"/>
	<meta property="og:image:height" content="256"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@title</title>

	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="48x48" href="/assets/img/favicon/favicon-48.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="24x24" href="/assets/img/favicon/favicon-24.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">

	<meta name="theme-color" content="#1e1e1e">
	<meta name="theme-color" content="#efefef" media="(prefers-color-scheme: light)">

	@* CSS *@
	<link href="/assets/style.css" rel="stylesheet" />

	@* mathjax *@
	@if (features.Contains("math"))
	{
		<script>/*!!minify!!*/
		MathJax = {
			options: {
				enableMenu: false,
				enableExplorer: false,
				a11y: {
					//suuuuper annoying that we can't throw CSS at any of this
					foregroundColor: 'Red',
				},
			},
			tex: {
				inlineMath: { '[+]': [['$', '$']] },
				processEscapes: true,
			}
		};
		</script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0/tex-mml-chtml.js"></script>
	}

	@* highlightjs *@
	@if (features.Contains("hljs"))
	{
		<link rel="stylesheet" href="/assets/hljs/hljs.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>

		if (features.Contains("language-hlsl"))
		{
			<script src="/assets/hljs/hlsl.js"></script>
		}
		if (features.Contains("language-slang"))
		{
			<script src="/assets/hljs/slang.js"></script>
		}
	}

	@* canvas *@
	@if (features.Contains("vec3.sketch"))
	{
		<script src="/assets/sketch.js"></script>
	}

	@* Page-specific extras *@
	@await RenderSection("head", required: false)
</head>

<body>
	<div class="header">
		<a class="title" href="/">
			<h1 class="site-title">
				@* inline because fill=currentColor doesn't work otherwise *@
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:0.75em;margin-right: -0.25em;" viewBox="0 -960 960 960">
					<path d="M480-654Zm174 174Zm-348 0Zm174 174Zm0-234L360-660v-220h240v220L480-540Zm180 180L540-480l120-120h220v240H660Zm-580 0v-240h220l120 120-120 120H80ZM360-80v-220l120-120 120 120v220H360Zm120-574 40-40v-106h-80v106l40 40ZM160-440h106l40-40-40-40H160v80Zm280 280h80v-106l-40-40-40 40v106Zm254-280h106v-80H694l-40 40 40 40Z" />
				</svg>
				@SiteTitle
			</h1>
			<div class="site-subtitle">Sometimes about tools, sometimes about graphics, sometimes I just ramble.</div>
		</a>
		<div class="links-bg"></div>
		<div class="links">
			<a href="/">Home</a>
			<a href="/posts">Posts</a>
		</div>
	</div>

	<div class="content">
		@await RenderBody()
	</div>

	<div class="footer">
		<div>
			<button title="Scroll to top" class="scroll-to-top" onclick="window.scrollTo({top:0,behavior:'smooth'})">
				@* inline because fill=currentColor doesn't work otherwise *@
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 -960 960 960">
					<path d="M480-654Zm174 174Zm-348 0Zm174 174Zm0-234L360-660v-220h240v220L480-540Zm180 180L540-480l120-120h220v240H660Zm-580 0v-240h220l120 120-120 120H80ZM360-80v-220l120-120 120 120v220H360Zm120-574 40-40v-106h-80v106l40 40ZM160-440h106l40-40-40-40H160v80Zm280 280h80v-106l-40-40-40 40v106Zm254-280h106v-80H694l-40 40 40 40Z" />
				</svg>
			</button>
			<p class="site-link">
				This is a static website powered by its own <a href="https://github.com/pdjonov/vec3.net">open-source generator</a>.
			</p>
			@if (!string.IsNullOrWhiteSpace(mdPath))
			{
				<p class="md-page-link">
					To see an example (or to report errors), check out <a href="https://github.com/pdjonov/vec3.net/blob/master/Content/@mdPath">this post's source</a>.
				</p>
			}
			<p>
				<span class="copyright">© @(date.Year) Philip Djonov</span>
			</p>
		</div>
	</div>

	@* highlightjs *@
	@if (features.Contains("hljs"))
	{
		<script>/*!!minify!!*/
			@if (features.Contains("language-hlsl"))
			{
				<text>hljs.registerLanguage('hlsl', hljsDefineHlsl);</text>
			}
			@if (features.Contains("language-slang"))
			{
				<text>hljs.registerLanguage('slang', hljsDefineSlang);</text>
			}
			hljs.initHighlightingOnLoad();
		</script>
	}
</body>

</html>