@{
	var post = (MarkdownPage)Body;
	var frontMatter = (PostFrontMatter)post.FrontMatter;

	var title = GetTitle();
}

@if (!string.IsNullOrWhiteSpace(title))
{
	<h2 class="post-title">@title</h2>


	var published = frontMatter.Date;
	<div class="post-date">@published.ToString("MMMM dd, yyyy")</div>

	var updated = frontMatter.LastUpdated;
	if (updated > published)
	{
		<div class="post-update-date">(Updated: @updated.ToString("dd MMM yyyy"))</div>
	}

	<div class="post-tags">
		@foreach (var tag in (frontMatter.Tags ?? Array.Empty<string>()).Order())
		{
			<a href="@Posts.TagUrl(tag)" class="post-tag badge">@tag</a>
		}
	</div>
}


@foreach (var note in frontMatter.Notes ?? [])
{
	<div class="editors-note alert @(!string.IsNullOrEmpty(note.Type) ? "alert-" + note.Type : "")">
		@await RenderMarkdown(note.Text)
		@if (note.Date != default)
		{
			<div class="date">@note.Date.ToString("MMM dd, yyyy")</div>
		}
	</div>
}

@await RenderBody()