@page "Posts"

@SuppressBlurb()

<div id="posts-root">
	<div id="posts-history" class="post-list">
		@{
			int year = int.MinValue, month = int.MinValue, count = 0;
			var includeExcerpts = true;

			var hasHenchie = false;
			void RenderHenchie()
			{
				<div class="alignright caption-box">
					<img class="henchie" src="/assets/img/henchies/tools.webp" />
				</div>
				hasHenchie = true;
			}
		}
		@foreach (var (page, frontMatter) in Project.Content.GetPosts())
		{
			count++;

			var date = frontMatter.Date;

			if (date.Year != year)
			{
				year = date.Year;
				month = int.MinValue;
				<h2 class="date-year">@(date.ToString("yyyy"))</h2>

				if (count > Posts.ExcerptsPerListing)
					includeExcerpts = false;

				if (year == 2013 && !includeExcerpts)
					RenderHenchie();
			}

			if (date.Month != month)
			{
				month = date.Month;
				<h3 class="date-month">@(date.ToString("MMMM"))</h3>

				if (count > Posts.ExcerptsPerListing)
					includeExcerpts = false;
			}

			if (!hasHenchie && year == 2013 &&
				frontMatter.Title?.StartsWith("HenchLua") == true)
			{
				RenderHenchie();
			}

			@await RenderPartial(
				includeExcerpts ?
					"_listitemwithexcerpt.cshtml" :
					"_listitem.cshtml",
				page)
		}
	</div>
	<div id="posts-tags">
		<h1>Tags</h1>
		@foreach (var (tag, posts) in Project.Content.GetPosts().ByTag())
		{
			<a href="@Posts.TagUrl(tag)">@tag (@posts.Count())</a>
		}
	</div>
</div>